a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
    background-color: #ccffcc;
}

li em {
    color: red;
    font-weight: bold;
    background-color: #ffffff;
}

ul {
    margin-left: 2cm;
}

ul ul {
    text-decoration: underline;
    margin-left: 0.5cm;
}

section{
    background-image: url('fi');
}

body{
    background-image: url('FILE GAMBAR/PINGUIN.jpeg'); 
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

}